// override theme variables
$primary: #FBCA53;
$secondary: #A48E65;
$dark: #2e2e2e;
$info: #3a3a3a;

@import '../node_modules/bootstrap/scss/bootstrap.scss';

.text-secondary {
    font-size: 12px;
    color: #6c757d;
}

.fs-6 {
    font-size: 14px;
}

.dropdown-toggle::after {
    border-top-color: $light;
}

.dropdown-menu.dropdown-menu-dark {
    background-color: var(--bs-dark) !important;
    color: white;
}
  
.dropdown-menu.dropdown-menu-dark .dropdown-item:hover {
    background-color: var(--bs-primary) !important;
    color: white;
}