body {
    background-color: #404040;
}

.category-btn {
    padding: 4px;
    border: 1px solid #a0a0a0;
    border-radius: 40px;
    min-width: 5vw;
    text-align: center;
    color: white;
    margin-left: 0.5vw;
    background-color: transparent;
    transition: 0.5s;
}

.category-btn.active {
    background-color: aliceblue;
    color: #404040;
    border: 1px solid #a0a0a0;
}

.category-btn:hover {
    background-color: #a0a0a0;
}

a {
    text-decoration: none;
}