.google-login-button {
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    color: #757575;
    font-size: 16px;
    font-weight: bold;
    padding: 7px 17px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .google-login-button:hover {
    background-color: #f8f8f8;
    border-color: #cccccc;
  }
  
  .google-login-button:focus {
    outline: none;
  }
  
  .google-login-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .google-login-button .fa-google {
    margin-right: 10px;
  }